@charset "UTF-8";
/*обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: 'Stem';
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'Stem';
  src: url("../fonts/Stem-Regular.eot");
  src: local("☺"), url("../fonts/Stem-Regular.woff") format("woff"), url("../fonts/Stem-Regular.ttf") format("truetype"), url("../fonts/Stem-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url("../fonts/Stem-Medium.eot");
  src: local("☺"), url("../fonts/Stem-Medium.woff") format("woff"), url("../fonts/Stem-Medium.ttf") format("truetype"), url("../fonts/Stem-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: #E9F3F5;
}

.wrapper {
  min-height: 900px;
}

._container {
  max-width: 1400px;
  padding: 0px 15px;
}

.body__registration {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background: #FFFFFF;
  border-radius: 20px;
  max-width: 600px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 40px auto;
  align-content: center;
}

.registration__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #3F434A;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 51px;
}

.registration__google {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #E8E9EB;
  color: #595F69;
  border-radius: 14px;
  cursor: pointer;
  transition: .2s ease border;
}

.registration__google:hover {
  border: 1px solid #304FFD;
}

.registration__google-icon {
  width: 15px;
  height: 16px;
  background-image: url(../img/icons/google-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0px 0px 0px 14px;
}

.registration__google-btn {
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  padding: 10px 128px 11px 98px;
}

.registration__email {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #8A9099;
  opacity: 0.6;
  margin: 36px 0px 31px 0px;
  flex-direction: row;
  justify-content: center;
}

.registration__email h2 {
  padding: 0px 7px 0px 8px;
}

.registration__email-line {
  background: #E8E9EB;
  width: 90px;
  height: 1px;
}

.registration__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
}

.registration__form-fio {
  margin: 0px 0px 27px 0px;
}

.registration__form-email {
  margin: 0px 0px 27px 0px;
}

.registration__form-password {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 28px 0px;
  align-items: center;
}

.registration__form-password-confirm {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 21px 0px;
}

.registration__form-remeber {
  display: flex;
  justify-content: space-between;
}

.registration__form-remeber p {
  margin-right: 3px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #595F69;
  display: block;
}

.registration__form-remeber p input {
  margin: 0px 12px 0px 0px;
}

.registration__form-log {
  margin: 24px 0px 80px 0px;
  flex-direction: column;
}

.registration__form-log button {
  background-color: #304FFD;
  padding: 10px 126px 9px 123px;
  max-width: 400px;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
  width: 100%;
  border-radius: 14px;
  box-shadow: 0px 4px #0026ff;
  top: 0;
  transition: .2s ease box-shadow, .2s ease background-color;
}

.registration__form-log button:hover {
  top: 2px;
  box-shadow: 0 2px 0px #0026ff;
  background-color: #304FFD;
}

.registration__footer {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #8A9099;
  margin: 0px 0px 51px 0px;
}

.registration__footer a {
  color: #304FFD;
  margin: 0px 0px 0px 5px;
}

.form__subtitle {
  font-size: 14px;
  line-height: 18px;
  color: #8A9099;
  margin: 0px 0px 9px 0px;
}

.form__remeber-link {
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #304FFD;
  word-break: break-all;
}

.form__remeber-link h2 {
  display: inline-block;
}

.form-fio__input {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #3F434A;
  border: 1px solid #E8E9EB;
  border-radius: 14px;
  width: 400px;
  max-width: 100%;
  padding: 9px 0px 10px 15px;
  transition: .2s ease border;
}

.form-fio__input:focus {
  border: 1px solid #000000;
}

.form-fio__input:hover {
  border: 1px solid #304FFD;
}

.form-email__input {
  font-size: 14px;
  line-height: 18px;
  color: #3F434A;
  border: 1px solid #E8E9EB;
  border-radius: 14px;
  width: 400px;
  max-width: 100%;
  padding: 10px 0px 10px 15px;
  transition: .2s ease border;
}

.form-email__input:focus {
  border: 1px solid #000000;
}

.form-email__input:hover {
  border: 1px solid #304FFD;
}

.form-password__input {
  border: 1px solid #E8E9EB;
  border-radius: 14px;
  padding: 0px 0px 9px 17px;
  max-height: 40px;
  width: 400px;
  max-width: 100%;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.03em;
  color: #3F434A;
  transition: .2s ease border;
}

.form-password__input:focus {
  border: 1px solid #000000;
}

.form-password__input:hover {
  border: 1px solid #304FFD;
}

.form-password__input-confirm {
  border: 1px solid #E8E9EB;
  box-sizing: border-box;
  border-radius: 14px;
  padding: 0px 0px 10px 17px;
  max-height: 40px;
  max-width: 400px;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.03em;
  color: #3F434A;
  transition: .2s ease border;
}

.form-password__input-confirm:focus {
  border: 1px solid #000000;
}

.form-password__input-confirm:hover {
  border: 1px solid #304FFD;
}

.password__input-icon {
  background-image: url(../img/icons/Hide.svg);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  width: 40px;
  height: 18px;
  color: #3F434A;
  position: absolute;
  margin: 0px 0px 1px 346px;
}

.password__confirm-input-icon {
  background-image: url(../img/icons/Hide.svg);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  width: 40px;
  height: 18px;
  color: #3F434A;
  position: absolute;
  margin: 0px 0px 3px 346px;
}

@media (max-width: 1024px) {
  .wrapper {
    min-height: 950px;
  }
  .registration__title {
    margin-top: 71px;
    margin-bottom: 44px;
  }
  .registration__google-btn {
    padding: 10px 82px 11px 63px;
  }
  .registration__email {
    margin: 32px 0px 31px 0px;
  }
  .registration__email-line {
    width: 50px;
  }
  .registration__form-log {
    margin: 27px 0px 66px 0px;
  }
  .registration__form-log button {
    padding: 10px 86px 9px 85px;
  }
  .registration__footer {
    margin: 0px 0px 35px 0px;
  }
  .registration__form-fio {
    margin: 0px 0px 35px 0px;
  }
  .registration__form-email {
    margin: 0px 0px 30px 0px;
  }
  .registration__form-password {
    margin: 0px 0px 32px 0px;
  }
  .body__registration {
    margin: 40px auto;
    max-width: 430px;
  }
  .form-email__input {
    width: 320px;
  }
  .form-fio__input {
    width: 320px;
  }
  .form-password__input {
    width: 320px;
  }
  .form-password__input-confirm {
    width: 320px;
  }
  .form__remeber-link h2 {
    display: block;
    margin: 0px 0px 0px -79px;
  }
  .password__input-icon {
    margin: 0px 0px 1px 266px;
  }
  .password__confirm-input-icon {
    margin: 0px 0px 1px 266px;
  }
}

@media (max-width: 375px) {
  .wrapper {
    min-height: 900px;
  }
  .registration__title {
    margin-top: 46px;
    margin-bottom: 44px;
  }
  .registration__google-btn {
    padding: 10px 53px 11px 25px;
  }
  .registration__email-line {
    width: 15px;
  }
  .registration__form-log button {
    padding: 10px 51px 9px 51px;
  }
  .registration__form-confirm {
    margin: 0px 0px 24px 0px;
  }
  .body__registration {
    max-width: 316px;
  }
  .form-email__input {
    width: 252px;
  }
  .form-fio__input {
    width: 252px;
  }
  .form-password__input {
    width: 252px;
  }
  .form-password__input-confirm {
    width: 252px;
  }
  .form__remeber-link h2 {
    display: block;
    margin: 0px 0px 0px -79px;
  }
  .password__input-icon {
    margin: 0px 0px 1px 199px;
  }
  .password__confirm-input-icon {
    margin: 0px 0px 1px 199px;
  }
}
