@font-face {
	font-family: 'Stem';
	src: url('../fonts/Stem-Regular.eot');
	src: local('☺'), url('../fonts/Stem-Regular.woff') format('woff'), url('../fonts/Stem-Regular.ttf') format('truetype'), url('../fonts/Stem-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Stem';
	src: url('../fonts/Stem-Medium.eot');
	src: local('☺'), url('../fonts/Stem-Medium.woff') format('woff'), url('../fonts/Stem-Medium.ttf') format('truetype'), url('../fonts/Stem-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}